/*.booproj
/*.csproj
/*.pidb
/*.sln*
/*.suo
/*.unityproj
/*.user
*.booproj
*.csproj
*.pidb
*.pidb.meta
*.sln
*.suo
*.tmp
*.unityproj
*.user
*.userprefs
.DS_STORE
.DS_Store*
.Spotlight-V100
.Trashes
._*
/*.userprefs
Icon?
[Bb]uild
[Bb]uild/
[Ee]xported[Oo]bj/
[Ll]ibrary/
[Oo]bj/
[Tt]emp/
[Tt]humbs.db
ehthumbs.db
sysinfo.txt
